* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f7f7f7; /* Light gray background */
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1em 0;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  p {
    margin: 1em 0;
  }
  
  a {
    text-decoration: none;
    color: #4285f4; /* Google Blue */
  }
  
  ul {
    list-style: none;
  }
  
  button {
    background-color: #4caf50; /* Green */
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
  }
  
  button:hover {
    background-color: #45a049; /* Darker Green on hover */
  }
  
  header {
    background-color: #2196f3; /* Material Blue */
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
  }
  
  th, td {
    padding: 0.5em;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #333; /* Dark Gray */
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  /* Login page styles */
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #4285f4; /* Google Blue on focus */
  }
  
  button[type="submit"] {
    align-self: flex-end;
  }
  